
.header-bg {
    height: 600px;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container-head {
    margin: 0 auto;
    height: 450px;
    width: 1500px;
    display: flex;
    flex-direction: row; 
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.text-one {
    font-size: 30px;
    margin: 20px 0px;
    
    
}
.text-two {
    font-size: 50px;
    
}
.text-three {
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 60px;
    
}
.text-four {
    font-size: 30px;
    
    
}

.media-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px; 
    font-size: 25px;
    
}

.b-button {
    margin-top: 20px;
    
}

.b-button-o {
    background-color: #FF2950;
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    

}
.b-button-t {
    background-color: white;
    border:1px solid #FF9B70;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #22222280;
    border-radius: 10px;
    margin-left: 30px;
}



.profile-img {
    
    width: 50%;
    display: flex;
    justify-content: center;
    
    
}

.image {
    background-color: #FF2950;
    border-radius: 70%;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.profile-image {
    border-radius: 50%;
    width: 700px;
    height: 700px;
    margin-top: -160px;
    position: absolute;
    right: -100px;
    
    
}
